.missions-box {
    background: linear-gradient(
        to bottom,
        #003049 0%,
        #00a8e8 50%,
        #005a6d 100%
    );
}

.mtime-span {
    color: #ff3111;
}

.mrm-title {
    font-size: 21px;
    font-weight: 600;
    color: #003c7d;
}

.ndone-m-span {
    color: #b70000;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #b70000;
}
.done-m-span {
    color: #0000ff;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #0000ff;
}
