#uploaded-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

#uploaded-image-input {
    display: none;
}

#page-title-ic {
    font-size: 24px;
    font-weight: 800;
}

#btn-loading-ic {
    border: 2px solid #f1f1f1;
    background-color: #fff;
    display: none;
}
#compress-btn-loading-ic {
    border: 2px solid #f1f1f1;
    background-color: #fff;
    display: none;
}
#btn-error-ic {
    display: none;
}
#compress-btn-error-ic {
    display: none;
}
.ic-s-input-div {
    display: inline-block;
    position: relative;
}
.ic-s-input {
    width: 56px;
}
.ic-s-input-span {
    position: absolute;
    top: -20px;
    right: -10px;
    background-color: #fff;
    color: #9d9d9d;
}
#ic-size-change-input-div {
    display: none;
}
#ic-output-img {
    width: 120px;
    border-radius: 8px;
}
#ic-output-dwn-btn {
    margin-top: 4px;
    width: 120px;
}
#ic-output-dwning-btn {
    margin-top: 4px;
    border: 1px solid #f1f1f1;
    display: none;
}
#ic-download-div {
    display: none;
}
#ic-compress-form-div {
    display: none;
}
