#aths-timg {
    width: 48px;
}

#aths-btn-icon {
    display: inline-block;
    animation: aths-bi-rotate 2s ease-in-out infinite;
    transform-origin: center center;
}
@keyframes aths-bi-rotate {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

#aths-title {
    display: block;
    margin-bottom: 16px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 21px;
}

.aths-way {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 8px;
    font-size: 15px;
}

#aths-suc {
    color: #007bff;
    font-weight: 600;
    margin-top: 12px;
}
#aths-btn {
    display: none;
}
@media (max-width: 767px) {
    #aths-btn {
        display: block;
    }
}
