.new-btn-first,
.new-btn-second,
.new-btn-third {
    position: fixed;
    left: 24px;
    z-index: 10;
    padding: 6px 12px;
}
.new-btn-first {
    bottom: 76px;
}
.new-btn-second {
    bottom: 120px;
}
.new-btn-third {
    bottom: 164px;
}
.wrcom-img {
    animation: wrcomimgrotate 1.5s infinite;
}

@keyframes wrcomimgrotate {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-60deg);
    }

    50.1% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(20deg);
    }
}
