#cm_form {
    border-radius: 8px;
    padding: 4px;
    background-color: #f1f1f1;
}
#comment-editor-load-btn {
    display: none;
}

#comeditor-msg {
    display: none;
    position: absolute;
    color: #e50016;
    font-weight: 600;
    z-index: 1;
}

.cedshow {
    margin-top: 16px;
}

.cedshow figure {
    margin: 0 0 12px 12px;
    display: inline-block;
}
.cedshow img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #f1f1f1;
}

.cedshow table {
    width: 100%;
}
.cedshow table td {
    padding: 8px !important;
}

#close-ed-img {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 40px;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    background-color: #dfdfdf;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
    border: 2px solid #595959;
    cursor: pointer;
}

.ed-imgslider-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    height: 100%;
}

/* Modal Content (image) */
.ed-imgslider-modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 90vh;
}

/* Add Animation */
.ed-imgslider-modal-content {
    -webkit-animation-name: edimgzoom;
    -webkit-animation-duration: 0.6s;
    animation-name: edimgzoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes edimgzoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes edimgzoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .ed-imgslider-modal-content {
        max-width: 100%;
        max-height: 90vh;
    }
}

#comment-editor-btn {
    font-size: 21px;
}
