.hop-item {
    text-align: right;
    display: block;
    text-decoration: none !important;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
}

.hop-item:hover {
    background-color: #dee2e6;
}

.hop-title {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    display: block;
}

.hop-body {
    font-size: 13px;
    color: #525252;
}

.hop-img {
    max-width: 100%;
    max-height: 220px;
    border-radius: 8px;
    margin-bottom: 8px;
}
