.hop-item {
    text-align: right;
    display: inline-block;
    background-color: #f7f7f7;
    border: 1px solid #dee2e6;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none !important;
}

.hop-item:hover {
    background-color: #dee2e6;
}

.hop-title {
    font-weight: 600;
    color: #1c244f;
    display: block;
}

.hop-body {
    font-size: 14px;
    color: #525252;
}

.hop-img {
    max-width: 100%;
    max-height: 160px;
    border-radius: 8px;
    margin-bottom: 8px;
}
