.blog-post-content img {
    width: 100%;
}
.blog-post-content .table {
    overflow: auto;
}
.comment-span {
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.reply-btn-color {
    color: #0088dd;
}
.related-post-title {
    font-size: 16px;
    font-weight: 600;
}

.comment-texterea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    min-height: 120px;
}
.nocm-title {
    font-weight: 700;
    font-size: 22px;
}
.reply-user-color {
    color: #669bbc;
}
.cm-time-style {
    font-size: 12px;
}
.comment-box {
    background-color: #ffffff;
    border: 2px solid #a4d0ff;
}
.comment-style {
    border: 2px solid #e0d7f0;
}
.comment-text {
    white-space: pre-line;
    margin: 16px 0;
}
.reply-style {
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
}

.related-post-a {
    color: #000;
}
.related-post-hover:hover {
    background-color: #f9fafb;
}

/* Track */
.suggest-item-div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.suggest-item-div::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.suggest-item-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#page-title {
    font-size: 18px;
}

.s-blog-img {
    width: 100px;
    max-height: 100px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f1f1f1;
}

#like-btn {
    text-decoration: none !important;
    background-color: #ffb6b6;
    border: 1px solid #ffabab;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
#like-btn:hover {
    background-color: #ff7070;
    border-radius: 50%;
    padding: 4px;
}
#unlike-btn {
    text-decoration: none !important;
    background-color: #f1f1f1;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
#unlike-btn:hover {
    background-color: #444;
    border-radius: 50%;
    padding: 4px;
}

.video-slider-item {
    text-align: center;
}

#q-b-width {
    width: 96%;
}

#blog-user-img {
    width: 52px;
    height: 52px;
    object-fit: contain;
    border-radius: 50%;
}

#blog-user-info-box {
    top: -10px;
    position: absolute;
    width: max-content;
    margin-right: 8px;
    color: #6e6e6e;
    display: inline-block;
}

#blog-img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.blog-com-user-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}

#b-go-to-shop {
    color: #1e1acb;
}
.sug-ads-price {
    font-size: 17px;
    font-weight: 600;
}
.sug-ads-img {
    border-radius: 18px;
    object-fit: contain;
    width: 100%;
    height: 140px;
}
.sug-blogs-title {
    font-weight: 600;
    font-size: 14px;
}

/* for go to comment section btn */
/* @media only screen and (max-width: 600px) {
    #goToCommentForm {
        display: block;
    }
}
@media only screen and (min-width: 600px) {
    #goToCommentForm {
        display: none !important;
    }
}

#goToCommentForm {
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 10;
} */
/* end for go to comment section btn */

.like-icon {
    background-color: #e3f2f9;
    border: 1px solid #b6daff;
    color: #075e91;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 12px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.dislike-icon {
    color: #bf0000;
    background-color: #fff2f3;
    border: 1px solid #edaeb4;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 12px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.like-icon img,
.dislike-icon img {
    width: 18px;
}
.comment-reply-btn {
    text-decoration: none !important;
    border: 1px solid #cae4ff;
    background-color: #fafffb;
    font-weight: 500;
    border-radius: 12px;
    padding: 2px 16px;
}

.rcir-glow {
    animation: rcir-glow-anim 0.5s infinite alternate;
}

@keyframes rcir-glow-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
