#tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0d7f0;
}
.active-tab {
    border-bottom: 3px solid #007bff;
    margin-right: 8px;
    color: #007bff;
    font-weight: 600;
    padding: 10px 12px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
}
.not-active-tab {
    color: #3a3a3a;
    font-size: 14px;
    display: inline-block;
    padding: 10px 12px;
    text-decoration: none !important;
}

.not-active-tab span,
.active-tab span {
    background-color: #efe9e9;
    color: #1566bd;
    font-weight: 600;
    padding: 0 5px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    margin-right: 2px;
    font-size: 15px;
}

#tab-title-box {
    margin: 0 8px;
    min-width: 80px;
    max-width: 145px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
}
#tab-actions {
    display: inline-block;
    overflow-x: auto;
    text-wrap: nowrap;
}
#tab-actions::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#tab-actions::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#tab-actions::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
@media only screen and (max-width: 768px) {
    #tab-actions::-webkit-scrollbar {
        display: none;
    }
}
#tab-title-box-text {
    display: inline-block; /* Add this line */
    position: relative;
}

.tab-scroll-text {
    animation: tab-scroll-text 7s linear infinite;
    animation-direction: normal;
}

@keyframes tab-scroll-text {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.sticky-tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}
.sticky-tab {
    transition: all 0.3s ease-in-out;
}
