.suropshow {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    background-color: #f1f1f1;
    color: #003e81;
    border: 1px solid #ccc;
    font-weight: 600;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 8px 16px;
}

.suropshow:hover {
    background-color: #c7e2ff;
}
