.catSelected .list-group-item {
    background-color: #0079df;
    color: #ffffff;
}

.body_style {
    height: 150px !important;
}

#ostan_chosen {
    width: 100% !important;
}

fieldset {
    display: none;
    margin-bottom: 50px;
}

#first {
    display: block;
}

#image-tab-alert {
    color: #7a7a7a;
    font-size: 15px;
}

.def-image {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    object-fit: contain;
}

#add-image-alert {
    color: #af0000;
    font-size: 16px;
    margin: 8px;
    display: inline-block;
    font-weight: 500;
    display: none;
}

#show-price-span {
    position: absolute;
    right: 140px;
    color: #0000cd;
}

.input-char-min {
    color: #0000cd;
    font-size: 15px;
    position: absolute;
}

.input-char-max {
    color: #348f00;
    font-size: 15px;
    position: absolute;
}

#short_description {
    height: 160px;
}

.error {
    background-color: #c1121f;
    padding: 8px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 600;
    display: none;
}
#title-error {
    color: #d30000;
    position: absolute;
}
#short_description-error {
    color: #d30000;
    position: absolute;
}

.errorCat {
    display: none;
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 8px;
    border-bottom: 2px solid #cf0000;
    font-weight: 600;
    margin-bottom: 8px;
}

#diamond-e-span {
    font-weight: 600;
    color: #00a100;
}
#diamond-r-span {
    font-weight: 600;
    color: #0000cb;
}

.w-48 {
    width: 48%;
}
.w-22 {
    width: 22px;
}

.prev-btn {
    border: 1px solid #adadad;
    background-color: #cfcfcf;
    border-radius: 8px;
    padding: 8px;
    width: 40%;
}

.next-btn {
    border: 1px solid #adadad;
    background-color: #00b30f;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    width: 40%;
}
.dis-btn {
    border: 1px solid #adadad;
    background-color: #ffffff;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    width: 40%;
}

.red-color {
    color: #ff0000;
}

.page-title-color {
    color: #1a5276;
}

.optional-color {
    font-size: 14px;
    color: #838383;
}

/* for select category modal */

#show_categories_list_ch_modal {
    max-height: 65vh;
    overflow-y: scroll;
}

#modcat-select-search-img {
    position: absolute;
    top: 10px;
    left: 12px;
}

#modcat-select-input {
    display: block;
    cursor: pointer;
    border: 1px solid #c7c7c7;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.cat-item-selected-bread-mobile {
    background-color: #669bbc;
    padding: 2px 8px;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #a5a5a5;
    font-size: 13px;
    font-weight: 500;
    margin-left: 4px;
}
.cat-item-bread-mobile {
    background-color: #f5f5f5;
    padding: 2px 8px;
    border-radius: 10px;
    color: #5b5b5b;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    font-weight: 500;
    margin-left: 4px;
}
.cat-item-bread-mobile-title {
    border-left: 1px solid #b5b5b5;
    padding-left: 8px;
}
.cat-item-ch-cat-modal {
    display: block;
    padding: 12px;
    color: #000 !important;
    text-decoration: none !important;
}

#search-categories-ch-modal-input {
    border-radius: 18px;
}

#search-cat-title {
    font-weight: 600;
    font-size: 17px;
}

.filter-cat-box-desk,
.filter-cat-return-box-desk,
.filter-cat-all-box-desk {
    display: inline-block;
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ebebeb;
}

.filter-cat-box-desk:hover,
.filter-cat-return-box-desk,
.filter-cat-all-box-desk {
    background-color: #f9f9f9;
}

/* for suggest caegory */
#sug-cat-box {
    overflow-x: auto;
    text-wrap: nowrap;
    display: none;
}

#sug-cat-title {
    font-weight: 600;
    font-size: 14px;
}
.sug-cat {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 0 12px;
    display: inline-block;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    margin: 0 4px;
}
/* end for suggest caegory */
/* end for select category modal */

/* for select features modal */
.fselect-input {
    display: block;
    cursor: pointer;
    border: 1px solid #c7c7c7;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow-x: auto;
    white-space: nowrap;
}
.item-selected {
    background-color: #e9ecf9;
    border-radius: 8px;
}
div[id^="sfbox-"] {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    top: 24px;
    border-radius: 8px;
    display: none;
}
div[id^="sfitems-list"] {
    max-height: 220px;
    overflow-y: scroll;
}
span[id^="close-fitem-"] {
    background-color: #ebebeb;
    border-radius: 8px;
    padding: 0 8px;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
}
span[id^="choose-new-fitem-"] {
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    margin-left: 8px;
    padding: 0 8px;
}
.sfsearch {
    border: none;
    outline: none;
    border-bottom: 1px solid #e7e7e7;
}
span[class^="sfitem-"] {
    display: block;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}
span[id^="sfnores-"] {
    padding: 12px 12px;
    color: #007bff;
    font-weight: 500;
    display: inline-block;
}

div[id^="sfnores-input-box-"] {
    display: none;
}
/* end for select features modal */

#after-scat-divs {
    display: none;
}
