.imgslider-ImageSlides {
    display: none;
}

/* Slideshow container */
.imgslider-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.imgslider-prev,
.imgslider-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #454545;
}

/* Position the "next button" to the right */
.imgslider-next {
    left: 0;
}

.imgslider-prev {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.imgslider-prev:hover,
.imgslider-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.imgslider-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.imgslider-numbertext {
    font-size: 12px;
    padding: 5px 12px;
    position: absolute;
    top: 4px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #c1c1c1;
    right: 4px;
}

/* The imgslider-dots/bullets/indicators */
.imgslider-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.imgslider-active,
.imgslider-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.imgslider-fade1 {
    animation-name: imgslider-fade1;
    animation-duration: 1.5s;
}

@keyframes imgslider-fade1 {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .imgslider-prev,
    .imgslider-next,
    .imgslider-text {
        font-size: 11px;
    }
}

.imgslider-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    height: 100%;
}

/* Modal Content (image) */
.imgslider-modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 90vh;
}

/* Add Animation */
.imgslider-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* The Close Button */
#close-slide-img {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 40px;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    background-color: #dfdfdf;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
    border: 2px solid #595959;
    cursor: pointer;
}
#close-com-img {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 40px;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    background-color: #dfdfdf;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
    border: 2px solid #595959;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .imgslider-modal-content {
        max-width: 100%;
        max-height: 90vh;
    }
}
