#rcats-title {
    display: block;
    margin: 8px 0;
    font-size: 20px;
    font-weight: 600;
    border-right: 2px solid #dc3545;
    margin-right: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

#rcats {
    background-color: #f9f9f9;
    width: 100%;
    text-align: right;
    border-radius: 8px;
    margin-bottom: 12px;
}

#rcats-list {
    overflow-x: auto;
    white-space: nowrap;
}

#rcats-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#rcats-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#rcats-list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.rcat {
    display: inline-block;
    background-color: #fff;
    margin: 8px 4px;
    border-radius: 8px;
    border: 2px solid #e9ecef;
    padding-left: 8px;
    text-decoration: none !important;
    color: #000;
}

.rcat:hover {
    background-color: #f5f5f5;
    color: #004187;
}

.rcat span {
    font-weight: 600;
    font-size: 14px;
    margin-right: 2px;
}

.rcat img {
    width: 95px;
    max-height: 95px;
    object-fit: contain;
}
