.message-reciver-color {
    background-color: #f5f6f7;
}

.message-sender-color {
    background-color: #007bff;
    color: #fff;
}

.chat-user-name {
    font-size: 14px;
    margin-right: 4px;
    font-weight: 700;
    color: #fff;
}

.chat-user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: scale-down;
}

#chat-header {
    background-color: #669bbc;
}
#chat_div {
    overflow-y: scroll;
    height: 330px;
    background-color: #edf2f4;
}
#chat-footer {
    background-color: #edf2f4;
}
.this-user-message {
    margin-bottom: 0;
    font-size: 15px;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    background-color: #007bff;
}
.that-user-message {
    margin-bottom: 0;
    font-size: 15px;
    color: #6b6b6b;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
}
.message-time {
    color: #6c757d;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 12px;
}

#message-no-msg-title{
    font-size: 20px;
    font-weight: 700;
}