.share-comment {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 4px 10px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
}
@keyframes rotate-shcom {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.share-com-image {
    display: inline-block;
    transition: transform 0.5s ease;
}
.share-com-image.clicked {
    animation: rotate-shcom 0.5s forwards;
}

@keyframes copcomoveUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.copy-com-image {
    display: inline-block;
    cursor: pointer;
}
.copy-comment-msg {
    color: #00a526;
    margin-left: 8px;
    font-weight: bold;
    display: block;
    margin-top: 14px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border-radius: 12px;
}
.copy-comment {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 4px 10px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
}
.copy-com-image.clicked {
    animation: copcomoveUp 0.8s ease;
}

@keyframes ulcomoveDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.unlike-com-image {
    display: inline-block;
    transition: transform 0.6s ease;
}
.unlike-com-image.clicked {
    animation: ulcomoveDown 0.6s ease;
}

@keyframes lcomoveDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.like-com-image {
    display: inline-block;
    transition: transform 0.6s ease;
}
.like-com-image.clicked {
    animation: lcomoveDown 0.6s ease;
}

.comment-box {
    border: 2px solid #dee2e6;
    background-color: #f9f9f9;
    line-height: 38px;
    word-wrap: break-word;
}

.cm-box-time {
    float: left;
    font-size: 11px;
}

.comment-box p {
    font-size: 20px;
}

.comment-box h2 {
    font-weight: 700;
    color: #000;
    margin: 15px 0 5px;
    line-height: 44px;
    font-size: 24px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 4px;
}

.comment-box h3 {
    font-size: 22px;
    font-weight: 700;
    color: #004085;
    margin: 15px 0 10px;
    line-height: 44px;
    border-bottom: 1px solid #eee;
}

.comment-box h4 {
    font-size: 18px;
    font-weight: 700;
    color: #373737;
    margin: 15px 0 10px;
    line-height: 44px;
    border-bottom: 1px solid #eee;
}

.comment-box .table {
    overflow: auto;
}

.comment-box ul,
.comment-box ol {
    padding-inline-start: 24px;
}

.com-img-box {
    white-space: nowrap;
    overflow: auto;
    margin-top: 16px;
}

.com-img {
    max-width: 100px;
    max-height: 120px;
    border-radius: 8px;
    object-fit: contain;
    padding: 4px;
    border: 1px solid #b7daff;
    background-color: #f7f7f7;
    margin-left: 4px;
    cursor: pointer;
}

.rep-name {
    font-size: 14px;
    background-color: #fff;
    padding: 0 4px;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
}

.comment-modal-input {
    width: 100%;
    height: 150px !important;
    resize: none;
}
.reply-div {
    background-color: rgb(237, 240, 249);
}
#loadMore {
    display: block;
    text-align: center;
    margin: 35px;
    font-size: 17px;
    font-weight: 700;
    display: none;
}

.like-icon {
    background-color: #e3f2f9;
    border: 1px solid #b6daff;
    color: #075e91;
    font-weight: 600;
    font-size: 16px;
    padding: 2px 12px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.dislike-icon {
    color: #bf0000;
    background-color: #fff2f3;
    border: 1px solid #edaeb4;
    font-weight: 600;
    font-size: 16px;
    padding: 2px 12px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.like-icon img,
.dislike-icon img {
    width: 24px;
}
.comment-reply-btn {
    text-decoration: none !important;
    border: 1px solid #cae4ff;
    background-color: #fff;
    font-weight: 500;
    border-radius: 12px;
    padding: 4px 10px;
    font-size: 18px;
    outline: none !important;
    color: #0056b3;
    line-height: normal;
}
.comment-reply-btn:hover {
    color: #004085;
}
.comment-reply-btn img {
    width: 16px;
}
/* for load comment replies */

.show-replies-btn {
    border: 2px solid #e9ecef;
    outline: none !important;
    border-radius: 8px;
    font-weight: 500;
    padding: 2px 0;
    background-color: #ffffff;
    width: 100%;
    margin-top: 18px;
    font-size: 18px;
}

.toggle-replies-btn {
    display: none;
    border: 2px solid #e9ecef;
    outline: none !important;
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 8px;
}

/* end for load comment replies */
