.comusr-link {
    border: none !important;
    outline: none !important;
    background-color: unset;
    display: inline-block;
}

.comusr-name {
    font-weight: 500;
    color: #555;
    font-size: 14px;
}

.comusr-label {
    margin-right: 4px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 8px;
    border-radius: 12px;
    border-left: 2px solid #c1c8d1;
    border-top: 1px solid #c1c8d1;
    background-color: #fff;
}

.comusr-label-0 {
    color: #558bc4;
}

.comusr-label-1 {
    color: #8d7220;
}

.comusr-label-2 {
    color: #6c9a6e;
}

.comusr-label-3 {
    color: #8d61b7;
}

.comusr-style {
    max-width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #f1f1f1;
    border: 1px solid #d9ecff;
}

.dcomusr-style {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #f1f1f1;
    border: 1px solid #d9ecff;
}

.comusr-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comusr-name-div {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.comusr-username {
    font-weight: bold;
    color: #222;
    font-size: 15px;
}

.comusr-biography {
    display: block;
    white-space: nowrap;
    background-color: #f1f1f1;
    overflow: auto;
    padding: 4px 8px;
    border-radius: 4px;
    color: #000;
}
