#page-title {
    font-size: 18px;
}

#cm-input {
    min-height: 125px;
}

.comment-texterea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    min-height: 120px;
}
.nocm-title {
    font-weight: 700;
    font-size: 22px;
}
.reply-user-color {
    color: #669bbc;
}
.cm-time-style {
    font-size: 12px;
}
.comment-box {
    background-color: #ffffff;
    border: 2px solid #a4d0ff;
}
.comment-style {
    border: 2px solid #e0d7f0;
}
.comment-text {
    white-space: pre-line;
    margin: 16px 0;
}
.reply-style {
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
}
.like-icon {
    background-color: #e3f2f9;
    border: 1px solid #b6daff;
    color: #075e91;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 12px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.dislike-icon {
    color: #bf0000;
    background-color: #fff2f3;
    border: 1px solid #edaeb4;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 12px;
    border-radius: 16px;
    margin: 0 4px;
    cursor: pointer;
}
.like-icon img,
.dislike-icon img {
    width: 18px;
}
.comment-reply-btn {
    text-decoration: none !important;
    border: 1px solid #cae4ff;
    background-color: #fafffb;
    font-weight: 500;
    border-radius: 12px;
    padding: 2px 16px;
}
.com-user-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}

.product-post-content img {
    max-width: 100%;
}

.product-post-content h2 {
    font-size: 22px;
    font-weight: 700;
    color: #002a57;
}

.product-post-content h3 {
    font-size: 18px;
    font-weight: 700;
    color: #6d000a;
}

.product-post-content h4 {
    font-size: 17px;
    font-weight: 700;
    color: #373737;
}

.product-post-content .table {
    overflow: auto;
}

.product-post-content ul,
.product-post-content ol {
    padding-inline-start: 24px;
}

.product-aflink {
    background-color: #28a745 !important;
    color: #fff !important;
    padding: 12px 0 !important;
    font-size: 16px;
    font-weight: 700;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 6px;
    width: 65% !important;
    margin: 0 auto;
    z-index: 1;
}
/* 
[id^="affilb-body-"] {
    border: 1px solid #f1f1f1 !important;
    } */

@media only screen and (max-width: 576px) {
    .product-aflink {
        padding: 14px 0 !important;
        width: 90% !important;
        bottom: 0;
    }
}

@keyframes rotate-pl-star {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bp-star {
    animation: prsmoveLB 1s ease-in-out infinite;
    margin-right: 4px;
}

.bottom-menu-box {
    bottom: -130px !important;
}

#online-users-span {
    right: auto !important;
    left: 28px;
    bottom: 62px !important;
}

#pcmbox-ask {
    display: block;
    margin-bottom: 15px;
    color: #343a40;
}
