.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.blog-post-content img {
    width: 100%;
}

.carousel {
    padding: 0 70px;
}

.carousel .carousel-item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.carousel .testimonial {
    padding: 20px 0 0;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #7aa641;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 3px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.advertise-title {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 15px 0 10px;
    font-size: 26px;
}

.advertise-title::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #669bbc;
    left: 0;
    right: 0;
    bottom: -10px;
}

.video-time-span {
    font-size: 14px;
}
.user-name-span {
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
}

#like-btn {
    text-decoration: none !important;
    background-color: #ffb6b6;
    border: 1px solid #ffabab;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
#like-btn:hover {
    background-color: #ff7070;
    border-radius: 50%;
    padding: 4px;
}
#unlike-btn {
    text-decoration: none !important;
    background-color: #f1f1f1;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
#unlike-btn:hover {
    background-color: #444;
    border-radius: 50%;
    padding: 4px;
}

.ch-format-txt {
    font-size: 16px;
}

#choose-format-box {
    position: absolute;
    background-color: #fff;
    padding: 8px;
    width: 200px;
    right: 35%;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-top: 4px;
    z-index: 2;
    display: none;
}

#page-title {
    font-size: 19px;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 8px;
    display: block;
    word-wrap: break-word;
    color: #10478f;
}

#video-desc {
    word-wrap: break-word;
    white-space: pre-line;
}

#unlike-image {
    width: 28px;
}
#like-image {
    width: 26px;
}

.comment-span {
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    width: 40px;
}
.comment-texterea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

.nocm-title {
    font-weight: 700;
    font-size: 22px;
}

.cursor-pointer {
    cursor: pointer;
}

.reply-btn-color {
    color: #0088dd;
}
.reply-user-color {
    color: #669bbc;
}

.cm-time-style {
    font-size: 12px;
}
.related-post-title {
    font-size: 16px;
    font-weight: 600;
}
.comment-box {
    background-color: #f1f1f1;
}
.comment-style {
    border: 1px solid #e9e9e9;
}
.reply-style {
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
}

.related-post-a {
    color: #000;
}
.related-post-hover:hover {
    background-color: #f9fafb;
}
.sug-blogs-title {
    font-weight: 600;
    font-size: 14px;
}

.s-blog-img {
    width: 100px;
    max-height: 100px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.share-span {
    cursor: pointer;
    background-color: #e6f0f5;
    border-radius: 50%;
    padding: 4px;
    display: inline-block;
    width: 40px;
}

.share-box {
    position: absolute;
    top: 40px;
    width: 300px;
    left: -50px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 8px;
    z-index: 1;
    background-color: #f7f7f7;
}

.hide-share {
    display: none;
}

#copy-clipboard-done-span {
    width: 100%;
    border-radius: 8px;
    color: #ffffff;
    background-color: #0b9100;
    margin-top: 8px;
    display: none;
}

.suggest-item-box {
    background-color: #fdfdfd;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    /* display: inline-block; */
    /* width: 350px; */
}

.suggest-item-img {
    --8px: 8px;
    /* width: 64px;
    height: 64px; */
    /* margin-left: var(--8px); */
    margin: 8px 8px 8px 0;
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
}

/* .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 8px;
} */

/* .snaps-inline > * {
    scroll-snap-align: start;
} */

.suggest-item-div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 75%;
    overflow-x: auto;
}
@media (min-width: 320px) {
    .suggest-item-div {
        grid-auto-columns: 75%;
    }
}

@media (min-width: 641px) {
    .suggest-item-div {
        grid-auto-columns: 49%;
    }
}

/* width */
.suggest-item-div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.suggest-item-div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.suggest-item-div::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.suggest-item-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.suggest-item-span {
    color: #7c7c7c;
}

.sug-video-play-box {
    position: absolute;
    top: 35%;
    right: 35%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.w-28 {
    width: 28px;
}

.h-350 {
    height: 350px;
}

.sug-video-img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
}

.sug-video-title {
    font-weight: 600;
    font-size: 14px;
    overflow-wrap: break-word;
}

#video-img {
    width: 100%;
    object-fit: scale-down;
    border-radius: 8px;
}
#video-user-img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.comment-user-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}
.sug-ad-img {
    border-radius: 18px;
    object-fit: contain;
    width: 100%;
    height: 140px;
}

.sug-ad-price {
    font-size: 17px;
    font-weight: 600;
}
.color-1e1acb {
    color: #1e1acb !important;
}

#go-shop-img {
    background-color: #33b0e9;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
}

#video-s {
    width: 100%;
    height: 290px;
    object-fit: contain;
}

#y-video-s {
    display: none;
    width: 100%;
    max-height: 290px;
    object-fit: contain;
}

#y-v-loading-title {
    color: rgb(11 90 155);
    font-weight: 600;
    font-size: 20px;
}

#downloding-yv-link {
    display: none;
}

#down-yv-link {
    display: none;
}

#video-img {
    width: 100%;
    object-fit: scale-down;
    border-radius: 8px;
}

.plyr:fullscreen video {
    height: 100% !important;
}

.plyr__video-wrapper,
.plyr__controls {
    border-radius: 10px !important;
}

.plyr__video-wrapper,
.plyr__poster {
    background-color: #fff !important;
}

/* for suggest videos */
.s-v-img {
    max-width: 90%;
    max-height: 100px;
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid #00000042;
}

.s-v-title {
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
}

.s-v-time {
    font-size: 12px;
}
/*end for suggest videos */

[id^="affilb-link-"] {
    background-color: #28a745; /* Initial background color */
    border-radius: 12px;
    color: #fff;
    padding: 10px !important;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    border: none !important;
    outline: none !important;
    animation: aflink-back-change 5s infinite; /* Animation for background color change */
}

/* Keyframe animation for background color change */
@keyframes aflink-back-change {
    0% {
        background-color: #28a745; /* Initial background color */
    }
    50% {
        background-color: #007bff; /* Second change */
    }
    100% {
        background-color: #28a745; /* Back to initial background color */
    }
}

#affilb-link img {
    width: fit-content;
}
