#item-gallery {
    overflow-x: auto;
    white-space: nowrap;
}

@media (max-width: 768px) {
    #item-gallery {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #item-gallery::-webkit-scrollbar {
        display: none;
    }
}

[id^="item-img-"] {
    height: 250px;
    aspect-ratio: 1;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 4px;
}
