/* for item price */

#item-price-div {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    margin: 16px 0;
    overflow: hidden;
}

#item-price-title {
    font-size: 22px;
    border-right: 2px solid #d50000;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 16px;
    display: inline-block;
}

#item-price-adpage-btn {
    text-decoration: none !important;
    color: #007bff;
    font-weight: 600;
    font-size: 15px;
    margin-right: auto;
    float: left;
    margin-top: 12px;
}
#item-price-adpage-btn img {
    width: 11px;
}

#item-price-ul {
    padding: 0;
    text-wrap: nowrap;
    scrollbar-width: none;
    width: max-content;
}

.item-price-li {
    list-style: none;
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 12px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 12px;
    border: 1px solid #ddd;
}

#item-price-messages {
    color: #a70010;
    position: absolute;
    bottom: 0;
    font-size: 15px;
}

.item-price-scroll {
    animation: item-price-scroll 60s linear infinite;
    animation-direction: normal;
}

@keyframes item-price-scroll {
    0% {
        transform: translateX(0);
    }
    79.9999% {
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}
/* end for item price */
