#top-users-box {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 16px 8px;
    border-right: 2px solid #007bff;
    margin-top: 42px;
}
#top-users-utitle {
    font-size: 18px;
    font-weight: 500;
    color: #00458f;
}
#top-users-ptitle {
    font-size: 13px;
    font-weight: 400;
    color: #6c757d;
}
#top-users-list {
    display: inline-block;
    overflow-x: auto;
    text-wrap: nowrap;
    width: 100%;
}

#top-users-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#top-users-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#top-users-list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#top-users-tbox {
    margin-left: 21px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    min-width: min-content;
}
.top-user-a {
    display: inline-block;
    margin-left: 12px;
    border-radius: 8px;
    padding: 4px 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none !important;
    color: #262626;
}

.top-user-a img {
    width: 36px;
    height: 36px;
    background-color: #f1f1f1;
    border-radius: 50%;
}

.top-user-a span {
    font-size: 13px;
    font-weight: 500;
}

#online-users-span {
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    margin-left: 4px;
}
.ousers-img {
    width: 20px;
}
#online-users-icon {
    animation: online-user-glow 1.5s infinite;
}
@keyframes online-user-glow {
    0% {
        opacity: 1; /* fully visible */
    }
    50% {
        opacity: 0; /* fully hidden */
    }
    100% {
        opacity: 1; /* fully visible again */
    }
}
